@import url("https://fonts.googleapis.com/css2?family=Exo:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  min-height: 100vh;
  font-family: "Exo", Arial, sans-serif;
  background-color: #557;
  color: #fff;
  display: grid;
  place-content: center;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}


  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
  } 
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  ::-webkit-scrollbar-track {
    background-color: #000000;
  }

  nav {
    justify-content: space-between;
    position: fixed;
    top: 0vh;
    right: 0; 
    width: 100%;
    background-color: transparent;
    transition: background-color 0.6s, color 0.6s;
  }
  nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    height: 8vh;
    margin: 0;
  }

  nav li {
    justify-content: space-between;
    margin: 0 20px;
}

nav a {
    font-size: 3vmin;
    text-decoration: none;
    color: #484848;
    transition: color 0.6s;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
.projectlogo
{
  position: absolute;
  top: 0vh;
  left: 0vw;
  width: 14vmin;
}

.fixed-background {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  scroll-snap-stop: always;
  scroll-snap-align: center;
}

.fixed-background .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  top: 0vh;
  width: 60vw;
  left: 2vw;
  padding: 2vw 2vw 2vw 2vw;
  background: rgb(0 0 0 / 0.6);
  border-radius: 8px;
  backdrop-filter: blur(5px) sepia(0.9) hue-rotate(145deg) drop-shadow(5px 9px 24px lime);
  filter: drop-shadow(12px 12px 2px rgb(100 134 45 / 0.3));
}

.fixed-background h2 {
  font-size: 7vmin;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
}
.fixed-background p {
  position: relative;
  top: 1vh;
  font-size: 3vmin;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
.fixed-background a {
  position: relative;
  top: 1vh;
  font-size: 5vmin;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.fixed-background {
  --start-color: #09f;
  --stop-color: #90f;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      to bottom,
      var(--start-color),
      var(--stop-color)
    ),
    var(--bg-image);
  background-attachment: fixed;
  background-blend-mode: overlay, exclusion;
  /* Add your other styles here */
}


.img-1 {
  --start-color: #00deff;
  --stop-color: #ff8c00;
  --bg-image: url("images//background1.png");
}

.img-2 {
  --start-color: #111340;
  --stop-color: #4800ff;
  --bg-image: url("images//background2.jpeg");
}

.img-3 {
  --start-color: #7c87a8;
  --stop-color: #ff0028;
  --bg-image: url("images//background3.avif");
}

.img-4 {
  --start-color: #84a87c;
  --stop-color: #1b6571;
  --bg-image: url("images//background4.jpg");
}

.img-5 {
  --start-color: #5d4012;
  --stop-color: #5d912a;
  --bg-image: url("images//background5.webp");
}

.explore-button
{
  font-size: 4vmin;
  color: white;
  text-decoration: none;
}
@media (max-width: 1025px)
{
  .body
  {
    width: 100vw;
    overflow-x: hidden;
  }
  .fixed-background
  {
    width: 100vw;
  }
  .fixed-background .content {
    display: block;
    justify-content: center;
    position: relative;
    top: -8vh;
    left: 10vw;
    width: 80vw;
    background: rgb(0 0 0 / 0.6);
    border-radius: 8px;
    backdrop-filter: blur(5px) sepia(0.9) hue-rotate(145deg)
      drop-shadow(5px 9px 24px lime);
    filter: drop-shadow(12px 12px 2px rgb(100 134 45 /0.3));
    z-index: 999;
  }
  
  .fixed-background h2 {
    font-size: 8vmin;
  }
  .fixed-background p {
    position: relative;
    top: 1vh;
    font-size: 5vmin;
  }
  .fixed-background a {
    position: relative;
    top: 1vh;
    font-size: 7vmin;
  }
}
@media (max-width: 890px)
{
  .body
  {
    width: 100vw;
    overflow-x: hidden;
  }
  .fixed-background
  {
    width: 100vw;
  }
  .fixed-background .content {
    display: block;
    justify-content: center;
    position: relative;
    top: -2vh;
    left: 10vw;
    width: 80vw;
    background: rgb(0 0 0 / 0.6);
    border-radius: 8px;
    backdrop-filter: blur(5px) sepia(0.9) hue-rotate(145deg)
      drop-shadow(5px 9px 24px lime);
    filter: drop-shadow(12px 12px 2px rgb(100 134 45 /0.3));
    z-index: 999;
  }
  
  .fixed-background h2 {
    font-size: 8vmin;
  }
  .fixed-background p {
    position: relative;
    top: 1vh;
    font-size: 5vmin;
  }
  .fixed-background a {
    position: relative;
    top: 1vh;
    font-size: 7vmin;
  }
}
@media (max-width: 500px)
{
  .body
  {
    width: 100vw;
    overflow-x: hidden;
  }
  .fixed-background
  {
    width: 100vw;
  }
  .fixed-background .content {
    display: block;
    justify-content: center;
    position: relative;
    top: -8vh;
    left: 10vw;
    width: 80vw;
    background: rgb(0 0 0 / 0.6);
    border-radius: 8px;
    backdrop-filter: blur(5px) sepia(0.9) hue-rotate(145deg)
      drop-shadow(5px 9px 24px lime);
    filter: drop-shadow(12px 12px 2px rgb(100 134 45 /0.3));
    z-index: 999;
  }
  
  .fixed-background h2 {
    font-size: 8vmin;
  }
  .fixed-background p {
    position: relative;
    top: 1vh;
    font-size: 5vmin;
  }
  .fixed-background a {
    position: relative;
    top: 1vh;
    font-size: 7vmin;
  }
}