@import url("https://fonts.googleapis.com/css2?family=Exo:wght@600&display=swap");
body {
  margin: 0;
  padding: 0;
 width: 100vw;
 height: 100vh;
 overflow: hidden;
 background: linear-gradient(to right, #5fd4ff, #feb47b);
 background-size: 200% 100%;
 animation: gradientAnimation 9s linear infinite;
}

@keyframes gradientAnimation {
 0% {
   background-position: 0% 50%;
 }
 50% {
   background-position: 100% 50%;
 }
 100% {
   background-position: 0% 50%;
 }
}
nav {
  justify-content: space-between;
  position: fixed;
  top: 2vh;
  left: 5vw; 
  width: 90vw;
  border-radius: 10px;
  z-index: 999;
  background: rgba(32, 32, 32, 0.8);
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  border: 1px solid rgba(255,255,255,0.1);
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  height: 8vh;
  margin: 0;
}

nav li {
  justify-content: space-between;
  margin: 0 20px;
}

nav a {
  position: relative;
  top: 0vh;
  font-size: 3vmin;
  text-decoration: none;
  color: white;
  transition: color 0.6s;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}
.projectlogo
{
position: absolute;
top: 0vh;
left: 0vw;
width: 10vmin;
}
#form {
  background-color: white;
  color: black;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 50vw;
  height: 75vh;
  position: absolute;
  left: 45vw;
  top: 15vh;
  transition: 0.5s;
}
#form:hover {
  transform: scale(1.05);
  border: 1px solid black;
}
h1 {
  text-align: center;
}

.form-group {
  display: inline-block;
  justify-content: space-between;
  margin-bottom: 15px;
}

input {
  width: 20vw;
  padding: 10px;
  margin: 0.5vw;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #000;
  border-radius: 4px;
  position: relative;
 left: 4vw;
 transition: border-color 0.3s ease-in-out;
 outline: none;
}
select {
  cursor: pointer;
}

button {
  background-color: #000;
  color: #fff;
  padding: 1vw;
  font-size: 2vmin;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  top: 10vh;
  left: -20vw;
}

button:hover {
  background-color: #555;
}
.result
{
  position: absolute;
  top: 20vh;
  left: 2vw;
  font-size: 3vmin;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: bold;
  width: 40vw;
  color: #333;
}
@media (max-width: 500px)
{
  body
  {
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  #form {
    width: 80vw;
    position: absolute;
    left: 10vw;
    top: 15vh;
    height: fit-content;
  }
  .form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  input {
    width: 70vw;
    left: 5vw;
  }
  button {
    font-size: 5vmin;
    position: relative;
    left: 32vw;
  }
  .result h2
  { 
    position: absolute;
    top: 20vh;
    color: wheat;
  }
}